{% extends 'base.html.twig' %}

{% block body %}
	<main class="festivales">
		<div class="contenedor-festival">
            <div class="img_festival">
                <img src="{{ asset('uploads/img/' ~ festival.imagen) }}" alt="Imagen festival">
            </div>
            <div class="titulo_festival">
                <h2 class="centrar-texto" id="tituloFest">{{festival.nombre}}<h2>
            </div>
            <div class="descripcion_festival">
                <p class="centrar-texto">{{festival.descripcion}}<p>
            </div>
            {% if app.user %}
                {% if respuesta == "no inscrito" %}
                    <a class="boton boton--primario" id="btn-inscribirse" data-id="{{festival.id}}">Inscribirse <i class="fa-solid fa-circle-plus"></i></a>
                {% else %}
                    <a class="boton boton--secundario" id="inscrito">Ya estas inscrito <i class="fa-solid fa-circle-check"></i></a>
                {% endif %}
            {% else %}
                <a class="boton boton--primario" id="openModalInscripcion">Inscribirse <i class="fa-solid fa-circle-plus"></i></a>
            {% endif %}
        </div>
	</main>

    <section class="modalInscripcion">
        <div class="modal__container">
            <img src="{{ asset("img/img_login.png") }}" class="modal__img">
            <h2 class="modal__title">Logueate</h2>
            <a class="modal__close"><i class="fa-solid fa-xmark"></i><a>
            <p class="modal__paragraph">Si quieres inscribirte necesitas loguearte primero.</p>
            <a href="{{ path("registro") }}" class="boton boton--primario">Registrate</i></a>
        </div>
    </section>
{% endblock body %}