{% extends 'base.html.twig' %}

{% block title %}Gestion Festivales{% endblock %}

{% block body %}
    <main class="gestion_festivales">
        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="centrar-texto">Gestión festivales</h3>
            <a class="openModal boton boton--anadir"><i class="fa-solid fa-plus"></i><a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre festival</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th scope="col"><i class="fa-solid fa-gear"></i></th>

                    </tr>
                </thead>
                <tbody id="festivales">
                    {% for f in festival %}
                    <tr id="{{f.id}}">
                        <th scope="row">{{ f.id }}</th>
                        <td class="nombreFest">{{ f.nombre }}</td>
                        <td class="descFest">{{f.descripcion | length > 50 ? f.descripcion |slice(0, 50) ~ '...' : f.descripcion}}</td>
                        <td><img src="{{ asset('uploads/img/' ~ f.imagen) }}" alt="imagen festival" class="imgFest" width="50px" height="50px"></td>
                        <td><a class="config_festivales openModalEditar" data-id="{{ f.id }}"><i class="fa-solid fa-pencil"></i></a><a class="config_festivales borrar" data-id="{{ f.id }}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
            <h3 class="centrar-texto">Acesso denegado</h3>
        {% endif %}
    </main>
    <section class="modal">
        <div class="modal__container">
            <h2 class="modal__title">Añadir festival</h2>
            <a class="modal__close"><i class="fa-solid fa-xmark"></i><a>
            <p class="modal__paragraph"></p>
            <form enctype="multipart/form-data">
                <div class="campo">
                <label class="campo__label" for="nombreFestival">Nombre festival:</label>
                    <input type="text" id="nombreFestival" class="campo__field" name="nombreFestival" placeholder="Nombre festival">
                </div>
                <div class="campo">
                     <label class="campo__label" for="descripcion">Descripción:</label>
                    <textarea id="descripcionFestival" name="descripcionFestival" class="campo__field campo__field--textarea"></textarea>
                </div>
                <div class="campo">   
                <label class="campo__label" for="imagenFestival">Imagen:</label>
                    <input type="file" id="imagenFestival" class="campo__field" name="imagenFestival">
                </div>
                <button class="boton boton--primario insertar" id="btn-anadir">Añadir</button>
            </form>
        </div>
    </section>
    <section class="modalEditar">
        <div class="modal__container">
            <h2 class="modal__title">Editar festival</h2>
            <a class="modal__close"><i class="fa-solid fa-xmark"></i><a>
            <p class="modal__paragraph"></p>
            <img src="{{ asset("img/loader.gif") }}" class="modal__loader" width="50rem" height="50rem">
            <form enctype="multipart/form-data">
                <div class="campo">
                    <label class="campo__label" for="nombreFestival">Nombre festival:</label>
                    <input type="text" id="nombreFestivalEditar" class="campo__field" name="nombreFestivalEdit" placeholder="Nombre festival">
                </div>
                <div class="campo">
                     <label class="campo__label" for="descripcion">Descripción:</label>
                    <textarea id="descripcionFestivalEdit" name="descripcionFestivalEdit" class="campo__field campo__field--textarea"></textarea>
                </div>
                <div class="campo">   
                    <label class="campo__label" for="imagenFestival">Imagen:</label>
                    <input type="file" id="imagenFestivalEditar" class="campo__field" name="imagenFestivalEdit">
                </div>
                <p class="imagenActual"></p>
                <button class="boton boton--primario editar" id="btn-editar">Editar</button>
            </form>
        </div>
    </section>
{% endblock %}
